In [ ]:
#Example numpy
a=np.array([[1,2],[4,5],[6,7]])
np.append(a,[[0,0]],axis=0)
np.append(a,[['a','b'],['a','b'],['a','b']],axis=1)

In [ ]:
#Examples df

dfEx1 = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})
dfEx2 = pd.DataFrame({'a':[10,20,30],'b':[40,50,60],'c':[70,80,90]})
dfEx2['new'] = list(dfEx1.iloc[1,:])
dfEx2.index = ['a','b','c']
display(dfEx2)
dfEx2.loc[['a','c'],['b','new']]

In [11]:
## Example Drop
import pandas as pd 
import numpy as np
dictDF = {'let':['a','b','c','d'],
         'num':[1,2,3,4],
         'col':['red','green','blue','yellow'],
         'fru':['apple','banana',np.nan,'peach']}
df = pd.DataFrame(dictDF)
display(df)
df.drop(columns=['num'],inplace=True)
df.set_index('let',inplace=True)
df.drop('a',inplace=True,axis=0)
df.dropna(axis=1,inplace=True)
display(df)
print(type(df))
type(df.loc[:,'col'])

  let  num     col     fru
0   a    1     red   apple
1   b    2   green  banana
2   c    3    blue     NaN
3   d    4  yellow   peach

        col
let
b     green
c      blue
d    yellow

<class 'pandas.core.frame.DataFrame'>

pandas.core.series.Series

In [ ]:
#Example join 

arr = np.array([['a',1,10],['b',2,20],['c',3,30],['b',4,40],['c',5,50],['d',6,60]])
df = pd.DataFrame(arr,columns=['k','c1','c2'])
df1 = df.loc[0:2,['k','c1']]
df2 = df.loc[3:,['k','c2']]
display(df1)
display(df2)
df1.set_index('k',inplace=True)
df2.set_index('k',inplace=True)
dfJoin = df1.join(df2,how='inner')
dfJoin.drop('c2',axis=1)